body {
   background-color: hsl(212, 45%, 89%);
   color: black;
   font-family: 'Outfit';
   padding: 1rem;
   display: flex;
   text-align: center;
   align-items: center;
   min-height: 100svh;
   justify-content: center;
   flex-direction: column;
   gap: 2rem;
}

main {
   background-color: hsl(0, 0%, 100%);
   max-width: 20rem;
   margin-top: 8.5rem;
   padding: 1rem;
   border-radius: 1rem;
}

img {
   display: block;
   border-radius: 1rem;
   max-width: 100%;
   margin-bottom: 1.5rem;
}

h1 {
   font-size: 1.4rem;
}

p {
   padding: 1rem;
   font-size: 0.95rem;
   margin-bottom: 0.5rem;
}

footer p {
   font-size: 0.7rem;
   text-align: center;
}

footer a {
   color: hsl(228, 45%, 44%);
}
